# Godot 4+ specific ignores
.godot/

# binary ignores
bin/

# visual studio ignores
.vs/

# planning, concept stuff
assets/*.rtf
assets/*.odt
assets/*.psd

# testing stuff
scripts/Test*.cs
scenes/[Tt]est*.tscn

# custom user compilation ignores
[Mm][Aa][Kk][Ee][Ff][Ii][Ll][Ee]
